# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# prisma
prisma/migrations

# next.js
.next/

# local env files
.env.development
.env.production

# typescript
next-env.d.ts

# Sentry Config File
.sentryclirc
