# dependencies
node_modules

# next.js
.next/

# production
dist/

# misc
.DS_Store
*.pem

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# eslint
.eslintcache

# vscode
.vscode/*

# turborepo
.turbo
