@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  html[data-theme='dark'] {
    --color-blue: 29 155 240;
    --color-dark-gray: 22 24 28;
    --color-gray-border: 47 51 54;
    --color-red: 249 24 128;
    --color-green: 0 186 124;

    --color-hover-effect: rgba(231, 233, 234, 0.1);

    --text-primary: 255 255 255;
    --text-secondary: 113 118 123;

    --error: 185 28 28;

    --color-scheme: only dark;
    --theme-background: 0 0 0;
  }

  html[data-theme='light'] {
    --color-dark-gray: 247 249 249;
    --color-gray-border: 239 243 244;

    --color-hover-effect: rgba(15, 20, 25, 0.1);

    --text-primary: 0 0 0;
    --text-secondary: 83 100 113;

    --color-scheme: only light;
    --theme-background: 255 255 255;
  }
}

::selection {
  color: #fff;
  background-color: rgb(var(--color-blue));
}

html {
  color-scheme: var(--color-scheme);
  text-rendering: optimizeLegibility;
}

body {
  overflow: auto;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(var(--theme-background));
}

body a {
  color: rgb(var(--color-blue));
}
/* enable animations if user don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }

  * {
    transition:
      color 0.2s ease-out,
      background-color 0.2s ease-out;
  }
}
