@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-card: #f7f9f9;
  --color-card-foreground: #000000;

  --color-popover: #ffffff;
  --color-popover-foreground: #000000;

  --color-primary: #1d9bf0;
  --color-primary-foreground: #ffffff;

  --color-secondary: #000000;
  --color-secondary-foreground: #ffffff;

  --color-muted: #a9a9a9;
  --color-muted-foreground: #536471;

  --color-accent: rgba(15, 20, 25, 0.1);
  --color-accent-foreground: #000000;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;

  --color-border: #eff3f4;
  --color-input: #eff3f4;
  --color-ring: #020817;

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-like: #f91880;
  --color-repost: #00ba7c;
}

.dark {
  @theme {
    --color-background: #000000;
    --color-foreground: #ffffff;

    --color-card: #16181c;
    --color-card-foreground: #ffffff;

    --color-popover: #020817;
    --color-popover-foreground: #f8fafc;

    --color-primary: #1d9bf0;
    --color-primary-foreground: #ffffff;

    --color-secondary: #ffffff;
    --color-secondary-foreground: #000000;

    --color-muted: #1e293b;
    --color-muted-foreground: #71767b;

    --color-accent: rgba(231, 233, 234, 0.1);
    --color-accent-foreground: #ffffff;

    --color-destructive: #dc2626;
    --color-destructive-foreground: #f8fafc;

    --color-border: #2f3336;
    --color-input: #2f3336;
    --color-ring: #cbd5e1;
  }
}

button {
  @apply cursor-pointer;
}

html {
  text-rendering: optimizeLegibility;
}

/* enable animations if user don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }

  * {
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
  }
}
