::selection {
  color: #fff;
  background-color: rgb(var(--color-blue));
}

html {
  color-scheme: var(--color-scheme);
  text-rendering: optimizeLegibility;

  &,
  body {
    overflow: auto;
    height: 100vh;
  }
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(var(--theme-background));

  a {
    color: rgb(var(--color-blue));
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  * {

    transition: color 0.2s ease-out, background-color 0.2s ease-out;
  }
  
}
